<header>
	<div class="container">
		<div class="heading">Plug Fest Plus</div>
	</div>
</header>
<section>
	<div class="container">
		<div id="content">
			<h2>User Login</h2>
			<div class="fields">
				<div class="field-spacing">
					Email: <input type="email" required ng-model="email">
				</div>
				<div class="field-spacing">
					Password: <input type="password" required ng-model="password">
				</div>
				<div class="field-spacing">
					<button type="submit" class="btn large-btn btn-primary"
						ng-click="login()">Log in</button>
				</div>
				<a href="#">Forgot password?</a>
			</div>
		</div>
	</div>
</section>